.App {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 90vh;
  justify-content: center;
}

.canvas-parent {
  flex: 0.6;
  display: flex;
  flex-direction: column;
}

.canvas {
  flex: 0.9;
  background-color: #abffc1;
  border-color: black;
  border:black solid 3px;
}

.map-scale {
  height: 3vw;
  width: 7vw;
}

.options {
  flex: 0.4;
  margin: 0px 10px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
